@page
@model ForgotPasswordConfirmation
@{
    ViewData["ScheduleDetail"] = "Forgot password confirmation";
}

<h1>@ViewData["ScheduleDetail"]</h1>
<p>
    Please check your email to reset your password.
</p>
