.blue-square {
    width: 10px;
    height: 10px;
    background-color: blue;
    display: inline-block;
}
.red-square {
    width: 10px;
    height: 10px;
    background-color: red;
    display: inline-block;
}
.gray-square {
    width: 10px;
    height: 10px;
    background-color: gray;
    display: inline-block;
}
.inline-text {
    display: inline-block;
    vertical-align: middle; /* 선택 사항: 텍스트를 네모와 수직으로 정렬 */
}

.top-row {
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}
