@page "/Chat"

@inject IJSRuntime JSRuntime

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IWorkspaceRepositoryAsync WorkspaceRepository
@inject IWorkspaceUserRepository WorkspaceUserRepository
@inject NavigationManager NavigationManager

<h1>Chat</h1>

<br />



@code {
    
}
