@page "/Dashboard"

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

@inject IWorkspaceRepositoryAsync WorkspaceRepository
@inject IWorkListRepository WorkListRepository
@inject IWorkRepository WorkRepository
@inject IUserRepositoryAsync UserRepository
@inject IWorkspaceUserRepository WorkspaceUserRepository
@inject IUserWorkRepository UserWorkRepository
@inject IWorkspaceWorkRepository WorkspaceWorkRepository

<h3>Dashboard</h3>
<hr />


@if (workspaceUserList.Count == 0)
{
    <div>포함되어 있는 워크스페이스가 없습니다.</div>
}
else
{
    <select class="form-select" @onchange="OnWorkspaceChanged">
        @foreach(var item in workspaceUserList)
        {
            <option value="@item.Workspace.Id">@item.Workspace.Name</option>
        }
    </select>
}
<br />

<div class="row" style="margin-bottom: 20px">
    <div class="col-sm-8">
        <Card>
            <CardHeader Style="text-align: center">
                Status
            </CardHeader>
            <CardBody>
                <BarChart @ref="workStatusBarChart" Height="300" Class="mb-4" />
            </CardBody>
        </Card>
    </div>
    <div class="col-sm-4">
        <Card Style="height: 100%;">
            <CardHeader>
                Colaboraters
            </CardHeader>
            <CardBody Style="overflow-y: auto;">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="table-name">
                                이름
                            </th>
                            <th class="table-status">
                                이메일
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in selectedWorkspaceUsers)
                        {
                            <tr>
                                <td>
                                    @item.User.UserName
                                </td> 
                                <td>
                                    @item.User.Email
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </CardBody>
        </Card>
    </div>
</div>

<Card>
    <CardHeader Style="text-align: center">
        User status
    </CardHeader>
    <CardBody>
        <BarChart Style="height: 200px; width: 100%;" Class="mb-4" />
    </CardBody>
</Card>

<!--
    TODO:
    유저별 할당된 작업 리스트
    월별 작업 클리어 차트
    가장 많은 일을 처리한 유저
-->

@code {
    private List<UserWork> userWorkList = null;
    private List<WorkspaceUser> workspaceUserList = new List<WorkspaceUser>();
    private List<WorkspaceUser> selectedWorkspaceUsers = new List<WorkspaceUser>();
    private int? selectedWorkspaceId = null;

    private BarChart workStatusBarChart = null;
    private BarChartOptions workStatusBarChartOptions = default!;
    private ChartData workStatusBarChartData = default!;

    private Random random = new();

    AuthenticationState authState;
    ClaimsPrincipal user;

    protected override async Task OnInitializedAsync()
    {
        // AuthenticationStateProvider.GetAuthenticationStateAsync() 메서드는
        // 현재 인증 상태를 나타내는 AuthenticationState 객체를 비동기적으로 반환하는 메서드다.
        authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;

        if (!user.Identity.IsAuthenticated)
        {
            // 로그인 안된 상태
            NavigationManager.NavigateTo("Identity/Account/Login");
        }

        // 로드 데이터
        await LoadDataAsync();

        // 차트 설정
        if (selectedWorkspaceId != null)
        {
            await SettingWorkStatusBarChart();
        }
    }

    protected async Task SettingWorkStatusBarChart()
    {
        // 차트
        var labels = new List<string> { "작업 전", "작업 중", "작업 종료", "완료" };
        var datasets = new List<IChartDataset>();

        #region Status
        var tempWorkspaceWorkList = await WorkspaceWorkRepository.GetWorkspaceWorkByWorkspaceIdAsync((int)selectedWorkspaceId);

        var dataset1 = new BarChartDataset()
            {
                Data = new List<double> {0, 0, 0, 0},
                BackgroundColor = new List<string> { "#c6cdd5",
                                                        "#fbc175",
                                                        "#e66a7e",
                                                        "#49d59c" },
                BorderColor = new List<string> { "#c6cdd5",
                                                    "#fbc175",
                                                    "#e66a7e",
                                                    "#49d59c" },
                BorderWidth = new List<double> { 0 },
            };
        foreach(var ww in tempWorkspaceWorkList)
        {
            if (ww.Work.IsSuccess)
            {
                dataset1.Data[3]++;
            }
            else
            {
                if (DateTime.Now < ww.Work.StartDate)
                {
                    dataset1.Data[0]++;
                }
                else if (ww.Work.StartDate < DateTime.Now && DateTime.Now < ww.Work.EndDate)
                {
                    dataset1.Data[1]++;
                }
                else if (ww.Work.EndDate < DateTime.Now)
                {
                    dataset1.Data[2]++;
                }
            }
        }
        datasets.Add(dataset1);

        workStatusBarChartData = new ChartData
            {
                Labels = labels,
                Datasets = datasets
            };

        workStatusBarChartOptions = new BarChartOptions();
        workStatusBarChartOptions.Responsive = true;
        workStatusBarChartOptions.Interaction = new Interaction { Mode = InteractionMode.Y };
        workStatusBarChartOptions.IndexAxis = "y";

        workStatusBarChartOptions.Scales.X!.Title!.Text = "수";
        workStatusBarChartOptions.Scales.X.Max = (double)Math.Max(Math.Max(dataset1.Data[0], dataset1.Data[1]), Math.Max(dataset1.Data[2], dataset1.Data[3])) + 2.0f;
        workStatusBarChartOptions.Scales.X.Title.Display = true;

        workStatusBarChartOptions.Scales.Y!.Title!.Text = "작업 상태";
        workStatusBarChartOptions.Scales.Y.Title.Display = true;

        workStatusBarChartOptions.Plugins.Legend.Display = false;
        #endregion

        #region User status



        #endregion

    }

    protected async Task LoadDataAsync()
    {
        userWorkList = await UserWorkRepository.GetUserWorkByUserIdAsync(user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier)?.Value);
        workspaceUserList = await WorkspaceUserRepository.GetWorkspaceUserByUserId(user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier)?.Value);

        if (workspaceUserList.Count > 0)
        {
            selectedWorkspaceId = workspaceUserList[0].WorkspaceId;
            selectedWorkspaceUsers = await WorkspaceUserRepository.GetWorkspaceUserByWorkspaceId((int)selectedWorkspaceId);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (selectedWorkspaceId != null)
            {
                await workStatusBarChart.InitializeAsync(workStatusBarChartData, workStatusBarChartOptions);
            }
        }
        else
        {
            if (selectedWorkspaceId != null)
            {
                await workStatusBarChart.InitializeAsync(workStatusBarChartData, workStatusBarChartOptions);
            }
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    protected async Task OnWorkspaceChanged(ChangeEventArgs e)
    {
        selectedWorkspaceId = int.Parse(e.Value.ToString());
        selectedWorkspaceUsers = await WorkspaceUserRepository.GetWorkspaceUserByWorkspaceId((int)selectedWorkspaceId);

        // 선택된 워크스페이스를 사용하는 코드

        await SettingWorkStatusBarChart();

        await workStatusBarChart.UpdateAsync(workStatusBarChartData, workStatusBarChartOptions);
    }
}
