@page "/Workspaces"

<h1>Select Workspace</h1>
<div class="top-row px-4 auth">
    <button class="btn btn-outline-primary">Add Workspace</button>
</div>

<br />

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Create Date</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>1</td>
                <td><button class="btn btn-outline-primary">test</button></td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
            </tr>
        </tbody>
    </table>
</div>

<hr />



@code {

}
