@page "/Workspaces"

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IWorkspaceRepositoryAsync WorkspaceRepository
@inject NavigationManager NavigationManager

<h1>Your workspaces</h1>
<div class="top-row px-4 auth">
    <button type="button" class="btn btn-primary" @onclick="@ShowDialogButton">Add Workspace</button>
</div>

<br />


<div class="container" style="height:500px; overflow-y: scroll;">
    <table class="table">
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Create Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var w in workspaces)
            {
                <tr>
                    <td><a href="/WorkspaceDetail/@w.Id">@w.Name</a></td>
                    <td>@w.Created</td>
                </tr>
            }
            
        </tbody>
    </table>
</div>

<hr />

@if (isShowDialog) {
    <div class="modal fade show" tabindex="-1" role="dialog" style="display:block;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add workspace</h5>
                </div>
                <div class="modal-body">
                    Project name:
                    <input type="text" @bind="@newWorkspace.Name"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @onclick="SaveWorkspace">Add</button>
                    <button type="button" class="btn btn-secondary" @onclick="CloseDialogButton">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop show"></div>


}
@code {
    private ClaimsPrincipal User => (AuthenticationStateProvider.GetAuthenticationStateAsync().Result).User;

    private bool isShowDialog = false;

    private List<Workspace> workspaces = new List<Workspace>();

    private Workspace newWorkspace = new Workspace();

    protected override async Task OnInitializedAsync()
    {
        // AuthenticationStateProvider.GetAuthenticationStateAsync() 메서드는
        // 현재 인증 상태를 나타내는 AuthenticationState 객체를 비동기적으로 반환하는 메서드다.
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        workspaces = await WorkspaceRepository.GetWorkspaceByCreateUserId(user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier)?.Value);
    }

    private void ShowDialogButton() {
        isShowDialog = true;
    }

    private void CloseDialogButton() {
        newWorkspace = new Workspace();
        isShowDialog = false;
    }

    private async Task SaveWorkspace() {
        // AuthenticationStateProvider.GetAuthenticationStateAsync() 메서드는 
        // 현재 인증 상태를 나타내는 AuthenticationState 객체를 비동기적으로 반환하는 메서드다.
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        newWorkspace.Created = DateTimeOffset.Now;
        // nameidentifier claim을 찾아 그 값을 CreateUserId에 대입하는 코드
        newWorkspace.CreateUserId = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier)?.Value;

        await WorkspaceRepository.AddWorkspaceAsync(newWorkspace);

        newWorkspace = new Workspace();
        isShowDialog = false;

        NavigationManager.NavigateTo("/Workspaces", true); // TODO: 다음에 리로딩말고 다시 그리는 방법으로 수정
    }
}
