@page "/Workspaces"

<!-- Pricing section-->
<section class="bg-light py-5">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h1 class="fw-bolder">Select workspace</h1>
        </div>
        <div class="row gx-5 justify-content-center">
            <!-- Add workspace -->
            <div class="col-lg-6 col-xl-4">
                <div class="card mb-5 mb-xl-0">
                    <div class="card-body p-5">
                        <div class="mb-3">
                            <h2 class="fw-bold">New workspace</h2>
                        </div>
                        <ul class="list-unstyled mb-4">
                            <li class="mb-2">
                                <i class="bi bi-check text-primary"></i>
                            </li>
                        </ul>
                        <div class="d-grid"><a class="btn btn-outline-primary" href="#!">Add workspace</a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
@code {

}
