<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage" class="text-dark">@context.User.Identity.Name</a>
        @* <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link text-dark">Log out</button>
        </form> *@

    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register" class="text-dark">Sign up</a>
        <a href="Identity/Account/Login" class="text-dark">Log in</a>
    </NotAuthorized>
</AuthorizeView>
