<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ProjectAssistant</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<Nav @onclick="ToggleNavMenu">
    <ul Class="flex-column px-0">
        <li Class="nav-item px-3">
            <NavLink Class="nav-link" Href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <AuthorizeView>
            <Authorized>
                <li Class="nav-item px-3">
                    <NavLink Class="nav-link" Href="/Workspaces">
                        <span class="oi oi-pencil" aria-hidden="true"></span> Workspaces
                    </NavLink>
                </li>
                <li Class="nav-item px-3">
                    <NavLink Class="nav-link" Href="/Dashboard">
                        <span class="oi oi-graph" aria-hidden="true"></span> Dashboard
                    </NavLink>
                </li>
                <li Class="nav-item px-3">
                    <NavLink Class="nav-link" Href="/ChatPage">
                        <span class="oi oi-chat" aria-hidden="true"></span> Chat
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
            </NotAuthorized>
        </AuthorizeView>
        
    </ul>
</Nav>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
